.card-head{
    padding: 0.9375rem 1.25rem; 
    background: #fff; 
    margin-bottom: 30px; 
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 15px black;
}
.input-range {
    appearance: none;
    width: 100%;
    height: 10px;
    background: #6890fc;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .input-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #4CAF50;
    cursor: pointer;
  }