body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#bg-dark-footer {
    position: relative;
    min-height: 15vh;
    margin-top: 25%;
    background-image: url(../../../../assets/images/u24_div.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-y: hidden;
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.6) inset;
    flex-shrink: 0;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.text-center {
    text-align: center;
    font-family: Poppins;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    margin: 50px 0;
}
