<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Formateurs</h1>
</div>
<div class="card">
  <div class="card-body">
    <form [formGroup]="formateurForm" (ngSubmit)="create()">
        <div class="form-group" style="margin-bottom: 20px">
            <input
              type="firstname"
              class="form-control border-bottom ng-pristine ng-valid ng-touched"
              formControlName="firstname"
              placeholder="Nom"
              style="border-top: none; border-left: none; border-right: none"
            />
        </div>
        <div class="form-group" style="margin-bottom: 20px">
            <input
              type="lastname"
              class="form-control border-bottom ng-pristine ng-valid ng-touched"
              formControlName="lastname"
              placeholder="Prénom"
              style="border-top: none; border-left: none; border-right: none"
            />
        </div>
        
      <div class="form-group" style="margin-bottom: 20px">
        <input
          type="email"
          class="form-control border-bottom ng-pristine ng-valid ng-touched"
          formControlName="email"
          placeholder="Email"
          style="border-top: none; border-left: none; border-right: none"
        />
        <div
          class="text-danger"
          *ngIf="
            formateurForm.get('email')!.hasError('email') &&
            formateurForm.get('email')!.touched
          "
        >
          Veuillez entrer une adresse email valide.
        </div>
      </div>
      <div class="form-group" style="margin-bottom: 20px">
        <input
          type="activity"
          class="form-control border-bottom ng-pristine ng-valid ng-touched"
          formControlName="activity"
          placeholder="Entreprise"
          style="border-top: none; border-left: none; border-right: none"
        />
    </div>
      <div class="form-group" style="margin-bottom: 20px">
        <input
          type="text"
          class="form-control"
          formControlName="phone"
          placeholder="Téléphone"
          style="border-top: none; border-left: none; border-right: none"
        />
      </div>
        <div>
          Sexe:
          <label>
            <input type="radio" formControlName="gender" value="M" required /> M
          </label>
          <label>
            <input type="radio" formControlName="gender" value="F" required /> F
          </label>
        </div>
        
      <button
        type="submit"
        class="btn btn-primary"
        style="float: right; margin-right: 20px;"
      >
        <span *ngIf="isLoading" class="spinner-border"></span>
        <span [ngClass]="isLoading ? 'hidden' : ''"
          ><span [ngClass]="isFormEdit ? 'hidden' : ''">Ajouter</span
          ><span [ngClass]="!isFormEdit ? 'hidden' : ''">Modifier</span></span
        >
      </button>
      <button class="btn btn-secondary" style="float: right; margin-right: 20px;" (click)="cancel()">Annuler</button>
    </form>
  </div>