<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Participants</h1>
</div>
<div class="col-lg-12">
  <div class="row tab-content">
    <div
      id="list-view"
      class="tab-pane fade active show col-lg-12"
      role="tabpanel"
    >
      <div class="card">
        <div class="card-header" style="background-color: #fff">
          <div class="d-flex justify-content-between">
            <h4 class="card-title">Liste des participants</h4>
            <a href="dashboard/clients/insert" class="btn btn-primary"
              >Ajouter</a
            >
          </div>
          <p class="my-3">
            <a
              (click)="showEntreprise()"
              class="link-offset-2 mx-5 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
            >
              <span [ngClass]="{ active: showCmp }">Entrprises</span>
            </a>
            <a
              (click)="showEmploye()"
              class="link-offset-2 mx-5 link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
            >
              <span [ngClass]="{ active: showEmp }">Employeés</span>
            </a>
            <a
              (click)="showParticular()"
              class="link-offset-2 mx-5 link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
            >
              <span [ngClass]="{ active: showPart }">Particuliers</span>
            </a>
          </p>
        </div>
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-md-3 d-flex">
              <label for="entries" class="me-2">Afficher</label>
              <select
                class="form-select form-select-sm me-2"
                id="entries"
                style="height: 38px"
              >
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
              </select>
              <label for="entries">entrées</label>
            </div>
            <div class="col-md-5">&nbsp;</div>
            <div class="col-md-4">
              <form style="position: relative; width: 350px; float: right">
                <input
                  class="form-control"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                  style="padding-left: 30px"
                />
              </form>
            </div>
          </div>
          <div class="table-responsive">
            <!-- particulier -->
            <table *ngIf="showPart" class="table">
              <thead>
                <tr>
                  <th scope="col">Nom</th>
                  <th scope="col">Prénom</th>
                  <th scope="col">Metier</th>
                  <th scope="col">Sexe</th>
                  <th scope="col">Date création</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let firstparticular of particulars">
                  <td>{{ firstparticular.firstname }}</td>
                  <td>{{ firstparticular.lastname }}</td>
                  <td>{{ firstparticular.activity }}</td>
                  <td>{{ firstparticular.gender }}</td>
                  <td>
                    {{ firstparticular.creationDate | date : "dd-MM-yyyy" }}
                  </td>
                  <td>
                    <span
                      class="text-success"
                      (click)="goToEditPart(firstparticular.id)"
                      title="Modifier"
                      ><i class="fa fa-pencil"></i></span
                    >&nbsp;
                    <span
                      class="text-danger"
                      (click)="deleteClients(firstparticular.id, 'particulier')"
                      title="Supprimer"
                      ><i class="fa fa-trash"></i></span
                    >&nbsp;
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- employé -->
            <table *ngIf="showEmp" class="table">
              <thead>
                <tr>
                  <th scope="col">Nom</th>
                  <th scope="col">Prénom</th>
                  <th scope="col">Téléphone</th>
                  <th scope="col">Sexe</th>
                  <th scope="col">Date création</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let empl of employees">
                  <td>{{ empl.firstname }}</td>
                  <td>{{ empl.lastname }}</td>
                  <td>{{ empl.phone }}</td>
                  <td>{{ empl.gender }}</td>
                  <td>{{ empl.creationDate | date : "dd-MM-yyyy" }}</td>
                  <td>
                    <span
                      class="text-success"
                      (click)="goToEditPart(empl.id)"
                      title="Modifier"
                      ><i class="fa fa-pencil"></i></span
                    >&nbsp;
                    <span
                      class="text-danger"
                      (click)="deleteClients(empl.id, 'particulier')"
                      title="Supprimer"
                      ><i class="fa fa-trash"></i></span
                    >&nbsp;
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- compagny -->
            <table *ngIf="showCmp" class="table">
              <thead>
                <tr>
                  <th scope="col">Nom</th>
                  <th scope="col">Activity</th>
                  <th scope="col">Date création</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let firstcompany of companies">
                  <td>{{ firstcompany.name }}</td>
                  <td>{{ firstcompany.activity }}</td>
                  <td>{{ firstcompany.creationDate | date : "dd-MM-yyyy" }}</td>
                  <td>
                    <span
                      class="text-success"
                      (click)="goToEditCpy(firstcompany.id)"
                      title="Modifier"
                      ><i class="fa fa-pencil"></i></span
                    >&nbsp;
                    <span
                      class="text-danger"
                      (click)="deleteClients(firstcompany.id, 'company')"
                      title="Supprimer"
                      ><i class="fa fa-trash"></i></span
                    >&nbsp;
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <p class="m-0">Affichage de 1 à 10 sur 30 entrées</p>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4 text-end">
              <nav style="float: right">
                <ul class="pagination pagination-circle">
                  <li class="page-item page-indicator me-2">
                    <a
                      class="page-link rounded-circle"
                      href="#"
                      aria-label="Previous"
                    >
                      <i class="fas fa-angle-left"></i>
                    </a>
                  </li>
                  <li class="page-item active me-2">
                    <a class="page-link rounded-circle" href="#">1</a>
                  </li>
                  <li class="page-item me-2">
                    <a class="page-link rounded-circle" href="#">2</a>
                  </li>
                  <li class="page-item me-2">
                    <a class="page-link rounded-circle" href="#">3</a>
                  </li>
                  <li class="page-item me-2">
                    <a class="page-link rounded-circle" href="#">4</a>
                  </li>
                  <li class="page-item page-indicator">
                    <a
                      class="page-link rounded-circle"
                      href="#"
                      aria-label="Next"
                    >
                      <i class="fas fa-angle-right"></i>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
