.link-offset-2{
  cursor: pointer;
}

.active{
  font-weight: 700;
}
.session-type-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

.session-form {
  border: 1px solid gray;
  border-radius: 5px;
  margin: 0 15px;
  padding: 10px 20px;
  background: #ffffff;
}

input,
select, textarea {
  width: 100%;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid #000;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: #4caf50;
}


@media (min-width: 768px) {
  .form-row {
    flex-direction: row;
  }

  .form-group {
    width: 48%;
    margin-right: 2%;
  }
}
