<h1 class="h2 text-primary mt-3">Formations</h1>
<hr class="lead mt-0" />
<div class="row tab-content">
  <div
    id="list-view"
    class="tab-pane fade active show col-lg-12"
    role="tabpanel"
  >
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <h4 class="lead">
          {{
            formationsAllReserved.length > 0 || formationsAll.length > 0
              ? "Liste des formations"
              : "Vous n'avez aucune formation pour le l'instant"
          }}
        </h4>
        <button
          type="button"
          class="btn btn-sm btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#formationModal"
        >
          Nouvelle formation
        </button>
      </div>
      <div
        class="modal fade"
        id="formationModal"
        data-bs-backdrop="static"
        tabindex="-1"
        aria-labelledby="formationModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Nouvelle formation</h5>
            </div>
            <form [formGroup]="formationForm">
              <div class="modal-body">
                <span style="font-style: italic;">
                  <strong>NB: les champs notés avec (*) sont obligatoires</strong>
                </span>
                <div class="row" style="margin-top: 30px;">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label class="form-label" for="title">Intitulé *<span style="color: red;">*</span></label>
                      <input
                        id="title"
                        type="text"
                        class="form-control input-default"
                        formControlName="title"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="subTheme" class="form-label">Sous Thème <span class="text-danger">*</span></label>
                      <sup (click)="goToSubTheme()" 
                           data-bs-dismiss="modal"
                           title="Ajouter un sous thème" 
                           class="badge bg-success border border-3 rounded-5"><i class="fa fa-plus text-light"></i></sup>
                      <select
                        id="subTheme"
                        type="text"
                        class="form-control input-default"
                        formControlName="subTheme"
                        required>
                        <option *ngFor="let subTheme of themes" [value]="subTheme">{{ subTheme }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="Enter_Price" class="form-label">Prix de la formation <span style="color: red;">*</span></label>
                      <input id="Enter_Price" type="number" formcontrolname="trainingPrice" required="" class="form-control ng-untouched ng-pristine ng-invalid">
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <div class="form-group fallback w-100">
                      <label for="Enter_File" class="form-label">Choisir un fichier <span style="color: red;">*</span></label>
                      <input type="file" data-default-file="" id="Enter_File" formcontrolname="logo" required="" class="form-control ng-pristine ng-invalid ng-touched">
                    </div>
                  </div>                

                  <div class="mb-3">
                    <textarea
                      class="form-control input-rounded"
                      name=""
                      id=""
                      cols="60"
                      rows="5"
                      placeholder="Description *"
                      formControlName="description"
                      required
                    ></textarea>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="submit"
                  [disabled]="formationForm.invalid || isFormFormationLoading"
                  class="btn btn-primary"
                  (click)="saveFormation()"
                >
                  <span *ngIf="isFormFormationLoading" class="spinner-border"></span
                  ><span [ngClass]="isFormFormationLoading ? 'hidden' : ''"
                    >&nbsp;Enregistrer</span
                  >
                </button>
                <button
                  type="reset"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  &nbsp;Annuler
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div
        class="card-body"
        *ngIf="formationsAllReserved.length > 0 || formationsAll.length > 0"
      >
        <div class="row mb-3 justify-content-between">
          <div class="col-md-3">
            <form style="width: 100%" [formGroup]="filterForm">
              <div class="d-flex align-items-baseline">
                <label for="entries" class="form-label me-2">Nombre</label>
                <select
                  formControlName="filter"
                  class="form-select-sm"
                  id="entries"
                >
                  <option value="5">5</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
              </div>
            </form>
          </div>
          <div class="col-md-4">
            <form
              [formGroup]="searchForm"
              style="position: relative; width: 350px; float: right"
            >
              <i
                class="fas fa-search"
                style="
                  position: absolute;
                  left: 10px;
                  top: 50%;
                  transform: translateY(-50%);
                "
              ></i>
              <input
                formControlName="keyWord"
                (input)="searchByName()"
                class="form-control"
                type="search"
                placeholder="Recherche"
                aria-label="Search"
                style="padding-left: 30px"
              />
            </form>
          </div>
        </div>
        <div class="table table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Photo</th>
                <th scope="col">Intitulé</th>
                <th scope="col">Description</th>
                <th scope="col">Prix</th>
                <th scope="col">Date création</th>
                <th scope="col" class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let firstFormation of formationsAll | paginate: {
                                    itemsPerPage: filterForm.value.filter,
                                    currentPage: page,
                                    }; "
              >
                <td><img *ngIf="firstFormation.logo != null" class="rounded-circle" height="80" width="80" src="data:image/jpeg;base64,{{ firstFormation.logo }}" alt="Photo de la formation"></td>
                <td>{{ firstFormation.title }}</td>
                <td>{{ getSubString(firstFormation.description) }}</td>
                <td>{{ firstFormation.trainingPrice }}</td>
                <td>{{ firstFormation.creationDate | date : "dd-MM-yyyy" }}</td>
                <td class="text-center" style="cursor: pointer">
                  <i
                    class="fa fa-pencil text-primary"
                    (click)="formationEdit(firstFormation.id)"
                    data-bs-toggle="modal"
                    data-bs-target="#formationUpdateModal"
                    title="Modifier"
                  ></i>
                  <i
                    class="fa fa-trash text-danger mx-2"
                    title="Supprimer"
                    (click)="formationDelete(firstFormation.id)"
                  ></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row mt-3">
          <div class="col-md-6">
            <p class="m-0">
              Affichage de {{ filterForm.value.filter }} entrées sur
              {{ formationsAll.length }}
            </p>
          </div>

          <div class="col-md-2"></div>
          <div class="col-md-4 text-end">
            <pagination-controls
              (pageChange)="handlePageChange($event)"
              (pageBoundsCorrection)="handlePageChange($event)"
              previousLabel="Précédent"
              nextLabel="Suivant"
              screenReaderPaginationLabel="Pagination"
              screenReaderPageLabel="page"
              screenReaderCurrentLabel="Vous êtes à la page"
            ></pagination-controls>
          </div>
          <div
            class="modal fade"
            id="formationUpdateModal"
            data-bs-backdrop="static"
            tabindex="-1"
            aria-labelledby="formationUpdateModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Modifier</h5>
                </div>
                <form [formGroup]="formationUpdateForm">
                  <div class="modal-body">
                    <div class="mb-1">
                      <input
                        type="text"
                        class="form-control input-default"
                        placeholder="Intitulé *"
                        formControlName="title"
                        required
                      />
                    </div>
                    <div class="mb-1">
                      <textarea
                        class="form-control input-rounded"
                        name=""
                        id="description"
                        cols="30"
                        rows="2"
                        placeholder="Description *"
                        formControlName="description"
                        required
                      ></textarea>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="submit"
                      class="btn btn-sm btn-primary"
                      (click)="updateFormation()"
                    >
                      <span
                        *ngIf="isFormFormationLoading"
                        class="spinner-border"
                      ></span
                      ><span [ngClass]="isFormFormationLoading ? 'hidden' : ''"
                        >Enregistrer</span
                      >
                    </button>
                    <button
                      type="reset"
                      class="btn btn-sm btn-secondary"
                      class="btn btn-sm btn-light"
                      data-bs-dismiss="modal"
                    >
                      Annuler
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid waiting" *ngIf="isLoading">
        <span class="spinner-border"></span>
      </div>
    </div>
    <div
      class="modal fade"
      id="formationUpdateModal"
      data-bs-backdrop="static"
      tabindex="-1"
      aria-labelledby="formationUpdateModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modifier Formation</h5>
          </div>
          <form [formGroup]="formationUpdateForm">
            <div class="modal-body">
              <div class="mb-3">
                <input
                  type="text"
                  class="form-control input-default"
                  placeholder="Intitulé *"
                  formControlName="title"
                  required
                />
                <input
                  type="hidden"
                  class="form-control input-default"
                  formControlName="id"
                  required
                />
                <input
                  type="hidden"
                  class="form-control input-default"
                  formControlName="creationDate"
                  required
                />
              </div>
              <div class="mb-3">
                <textarea
                  class="form-control input-rounded"
                  name=""
                  id=""
                  cols="60"
                  rows="5"
                  placeholder="Description *"
                  formControlName="description"
                  required
                ></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="submit"
                class="btn btn-primary"
                (click)="updateFormation()"
              >
                <span *ngIf="isFormFormationLoading" class="spinner-border"></span
                ><span [ngClass]="isFormFormationLoading ? 'hidden' : ''"
                  >&nbsp;Enregistrer</span
                >
              </button>
              <button
                type="reset"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                &nbsp;Annuler
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid waiting" *ngIf="isLoading">
  <span class="spinner-border"></span>
  <div class="card"></div>
</div>
