<h1 class="h2 my-2">Dashboard</h1>
<div class="d-flex justify-content-center align-items-center">
  <div class="d-flex align-items-center p-3  rounded-2 me-2 shadow">
    <i class="fas fa-wallet fa-4x text-bg-light"></i>
    <div class="ms-4">
      <h6 class="lead">Themes</h6>
      <h4 class="text-primary text-center">{{listeTheme.length}}</h4>
    </div>
  </div>
  <div class="d-flex align-items-center p-3  rounded-2 me-2 shadow">
    <i class="fas fa-book fa-4x text-bg-light"></i>
    <div class="ms-4">
      <h6 class="lead">Formations</h6>
      <h4 class="text-primary text-center">0</h4>
    </div>
  </div>
  <div class="d-flex align-items-center p-3  rounded-2 me-2 shadow">
    <i class="fas fa-users fa-4x text-bg-light"></i>
    <div class="ms-4">
      <h6 class="lead">Formateurs</h6>
      <h4 class="text-primary text-center">0</h4>
    </div>
  </div>
  <div class="d-flex align-items-center p-3  rounded-2 me-2 shadow">
    <i class="fas fa-graduation-cap fa-4x text-bg-light"></i>
    <div class="ms-4">
      <h6 class="lead">Participants</h6>
      <h4 class="text-primary text-center">0</h4>
    </div>
  </div>
  <div class="d-flex align-items-center p-3  rounded-2 me-2 shadow">
    <i class="fas fa-calendar fa-4x text-bg-light"></i>
    <div class="ms-4">
      <h6 class="lead">Session</h6>
      <h4 class="text-primary text-center">0</h4>
    </div>
  </div>
</div>