<h1 class="h2 my-2">Dashboard</h1>
<div class="d-flex justify-content-center align-items-center">
  <div class="d-flex align-items-center p-3  rounded-2 me-2 shadow">
    <i class="fas fa-wallet fa-4x text-bg-light"></i>
    <div class="ms-4">
      <h6 class="lead">Themes</h6>
      <h4 class="text-primary text-center">{{listeTheme.length}}</h4>
    </div>
  </div>
  <div class="d-flex align-items-center p-3  rounded-2 me-2 shadow">
    <i class="fas fa-book fa-4x text-bg-light"></i>
    <div class="ms-4">
      <h6 class="lead">Formations</h6>
      <h4 class="text-primary text-center">{{listeFormation.length}}</h4>
    </div>
  </div>
  <div class="d-flex align-items-center p-3  rounded-2 me-2 shadow">
    <i class="fas fa-users fa-4x text-bg-light"></i>
    <div class="ms-4">
      <h6 class="lead">Formateurs</h6>
      <h4 class="text-primary text-center">{{listeFormateur.length}}</h4>
    </div>
  </div>
  <div class="d-flex align-items-center p-3  rounded-2 me-2 shadow">
    <i class="fas fa-graduation-cap fa-4x text-bg-light"></i>
    <div class="ms-4">
      <h6 class="lead">Participants</h6>
      <h4 class="text-primary text-center">0</h4>
    </div>
  </div>
  <div class="d-flex align-items-center p-3  rounded-2 me-2 shadow">
    <i class="fas fa-calendar fa-4x text-bg-light"></i>
    <div class="ms-4">
      <h6 class="lead">Session</h6>
      <h4 class="text-primary text-center">0</h4>
    </div>
  </div>
</div>
<!--<div class="col-xl-12 col-xxl-12 col-sm-12">
  <div class="row">
    <div class="col-xl-4 col-xxl-4 col-sm-6">
      <div class="widget-stat card">
          <div class="card-body">
              <div class="icon-container" style="margin-left: 20px;">
                  <i class="fas fa-wallet" style="font-size: 90px;"></i>
              </div>
              <div class="text-container" style="margin-left: 150px; margin-top: -80px;">
                  <h3 class="card-title fw-bold">Themes</h3>
                  <h4>Total {{listeTheme!.length}}</h4>
              </div>
          </div>
      </div>
  </div>
  <div class="col-xl-4 col-xxl-4 col-sm-6">
    <div class="widget-stat card">
        <div class="card-body">
            <div class="icon-container" style="margin-left: 20px;">
                <i class="fas fa-book" style="font-size: 90px;"></i>
            </div>
            <div class="text-container" style="margin-left: 150px; margin-top: -80px;">
                <h3 class="card-title fw-bold">Formations</h3>
                <h4>Total {{listeFormation!.length}}</h4>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-4 col-xxl-4 col-sm-6">
  <div class="widget-stat card">
      <div class="card-body">
          <div class="icon-container" style="margin-left: 20px;">
              <i class="fas fa-graduation-cap" style="font-size: 90px;"></i>
          </div>
          <div class="text-container" style="margin-left: 150px; margin-top: -80px;">
              <h3 class="card-title fw-bold">Formateurs</h3>
              <h4>Total {{listeFormateur!.length}}</h4>
          </div>
      </div>
  </div>
</div>
  </div>
</div>
<p></p>
<div class="col-xl-12 col-xxl-12 col-sm-12">
  <div class="row">
    <div class="col-xl-4 col-xxl-4 col-sm-6">
      <div class="widget-stat card">
          <div class="card-body">
              <div class="icon-container" style="margin-left: 20px;">
                  <i class="fas fa-users" style="font-size: 90px;"></i>
              </div>
              <div class="text-container" style="margin-left: 150px; margin-top: -80px;">
                  <h3 class="card-title fw-bold">Participants</h3>
                  <h4>Total 0</h4>
              </div>
          </div>
      </div>
    </div>
    <div class="col-xl-4 col-xxl-4 col-sm-6">
      <div class="widget-stat card">
          <div class="card-body">
              <div class="icon-container" style="margin-left: 20px;">
                  <i class="fas fa-hourglass-half" style="font-size: 90px;"></i>
              </div>
              <div class="text-container" style="margin-left: 150px; margin-top: -80px;">
                  <h3 class="card-title fw-bold">Sessions</h3>
                  <h4>Total 0</h4>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>-->
