<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <form style="position: relative; width: 350px;">
        <i class="fas fa-search" style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%);"></i>
        <input class="form-control" type="search" placeholder="Search" aria-label="Search" style="padding-left: 30px;">
      </form>
    </div>
</div>
<div class="col-xl-12 col-xxl-12 col-sm-12">
  <div class="row">
    <div class="col-xl-4 col-xxl-4 col-sm-6">
      <div class="widget-stat card">
          <div class="card-body">
              <div class="icon-container" style="margin-left: 20px;">
                  <i class="fas fa-wallet" style="font-size: 90px;"></i>
              </div>
              <div class="text-container" style="margin-left: 150px; margin-top: -80px;">
                  <h3 class="card-title fw-bold">Themes</h3>
                  <h4>Total {{listeTheme!.length}}</h4>
              </div>
          </div>
      </div>
  </div>
  <div class="col-xl-4 col-xxl-4 col-sm-6">
    <div class="widget-stat card">
        <div class="card-body">
            <div class="icon-container" style="margin-left: 20px;">
                <i class="fas fa-book" style="font-size: 90px;"></i>
            </div>
            <div class="text-container" style="margin-left: 150px; margin-top: -80px;">
                <h3 class="card-title fw-bold">Formations</h3>
                <h4>Total {{listeFormation!.length}}</h4>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-4 col-xxl-4 col-sm-6">
  <div class="widget-stat card">
      <div class="card-body">
          <div class="icon-container" style="margin-left: 20px;">
              <i class="fas fa-graduation-cap" style="font-size: 90px;"></i>
          </div>
          <div class="text-container" style="margin-left: 150px; margin-top: -80px;">
              <h3 class="card-title fw-bold">Formateurs</h3>
              <h4>Total {{listeFormateur!.length}}</h4>
          </div>
      </div>
  </div>
</div>
  </div>
</div>
<p></p>
<div class="col-xl-12 col-xxl-12 col-sm-12">
  <div class="row">
    <div class="col-xl-4 col-xxl-4 col-sm-6">
      <div class="widget-stat card">
          <div class="card-body">
              <div class="icon-container" style="margin-left: 20px;">
                  <i class="fas fa-users" style="font-size: 90px;"></i>
              </div>
              <div class="text-container" style="margin-left: 150px; margin-top: -80px;">
                  <h3 class="card-title fw-bold">Participants</h3>
                  <h4>Total 0</h4>
              </div>
          </div>
      </div>
    </div>
    <div class="col-xl-4 col-xxl-4 col-sm-6">
      <div class="widget-stat card">
          <div class="card-body">
              <div class="icon-container" style="margin-left: 20px;">
                  <i class="fas fa-hourglass-half" style="font-size: 90px;"></i>
              </div>
              <div class="text-container" style="margin-left: 150px; margin-top: -80px;">
                  <h3 class="card-title fw-bold">Sessions</h3>
                  <h4>Total 0</h4>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
